#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [2]:
total_profit_per_branch = df.groupby('Branch')['Total'].sum()
max_profit_branch = total_profit_per_branch.idxmax()
max_profit = total_profit_per_branch.max()
print("–°—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º:")
print(total_profit_per_branch)
print(f"\n–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: {max_profit_branch} –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º {max_profit:.2f}")

–°—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º:
Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: C –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º 110568.71

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [3]:
total_profit_per_branch = df.groupby('Branch')['Total'].sum()
max_profit_branch = total_profit_per_branch.idxmax()
max_profit = total_profit_per_branch.max()
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: {max_profit_branch} –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º {max_profit:.2f}")
city_of_max_profit_branch = df[df['Branch'] == max_profit_branch]['City'].iloc[0]
print(f"–ú—ñ—Å—Ç–æ, –¥–µ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: {city_of_max_profit_branch}")

print("\n–î–∞–Ω—ñ –¥–ª—è –ø–µ—Ä–µ–≤—ñ—Ä–∫–∏:")
df[df['Branch'] == max_profit_branch].head()

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: C –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º 110568.71
–ú—ñ—Å—Ç–æ, –¥–µ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º: Naypyitaw

–î–∞–Ω—ñ –¥–ª—è –ø–µ—Ä–µ–≤—ñ—Ä–∫–∏:

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
20,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,430.20,4.761905,21.5100,4.8
34,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.8840,417.5640,2/6/2019,10:42,Ewallet,397.68,4.761905,19.8840,7.5

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [5]:
invoices_by_category = df.pivot_table(
    index='Branch',  # –†—è–¥–∫–∏: –§—ñ–ª—ñ–∞–ª–∏
    columns='Product line',  # –°—Ç–æ–≤–ø—Ü—ñ: –ö–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤
    values='Invoice ID',  # –ó–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –ø—ñ–¥—Ä–∞—Ö—É–Ω–∫—É: –ù–æ–º–µ—Ä–∏ —ñ–Ω–≤–æ–π—Å—ñ–≤
    aggfunc='count',  # –ê–≥—Ä–µ–≥—É—é—á–∞ —Ñ—É–Ω–∫—Ü—ñ—è: –ü—ñ–¥—Ä–∞—Ö—É–Ω–æ–∫ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ
    fill_value=0  # –ó–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –∑–∞–ø–æ–≤–Ω–µ–Ω–Ω—è –ø—Ä–æ–ø—É—Å–∫—ñ–≤
)

print("–ó–≤–æ–¥–Ω–∞ —Ç–∞–±–ª–∏—Ü—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ–∂–Ω—ñ–π —Ñ—ñ–ª—ñ—ó:")
invoices_by_category

–ó–≤–æ–¥–Ω–∞ —Ç–∞–±–ª–∏—Ü—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —É –∫–æ–∂–Ω—ñ–π —Ñ—ñ–ª—ñ—ó:

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [6]:
invoices_by_category = df.pivot_table(
    index='Branch',  # –†—è–¥–∫–∏: –§—ñ–ª—ñ–∞–ª–∏
    columns='Product line',  # –°—Ç–æ–≤–ø—Ü—ñ: –ö–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤
    values='Invoice ID',  # –ó–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –ø—ñ–¥—Ä–∞—Ö—É–Ω–∫—É: –ù–æ–º–µ—Ä–∏ —ñ–Ω–≤–æ–π—Å—ñ–≤
    aggfunc='count',  # –ê–≥—Ä–µ–≥—É—é—á–∞ —Ñ—É–Ω–∫—Ü—ñ—è: –ü—ñ–¥—Ä–∞—Ö—É–Ω–æ–∫ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ
    fill_value=0  # –ó–Ω–∞—á–µ–Ω–Ω—è –¥–ª—è –∑–∞–ø–æ–≤–Ω–µ–Ω–Ω—è –ø—Ä–æ–ø—É—Å–∫—ñ–≤
)
max_invoices_branch = invoices_by_category['Electronic accessories'].idxmax()
max_invoices_count = invoices_by_category['Electronic accessories'].max()
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º —á–∏—Å–ª–æ–º —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': {max_invoices_branch}")
print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: {max_invoices_count}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º —á–∏—Å–ª–æ–º —ñ–Ω–≤–æ–π—Å—ñ–≤ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': A
–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ö—Ä–æ–∫ 1: –§–æ—Ä–º—É–ª—é–≤–∞–Ω–Ω—è –ø–∏—Ç–∞–Ω—å (–≥—ñ–ø–æ—Ç–µ–∑)
1.   –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —î –Ω–∞–π–ø–æ–ø—É–ª—è—Ä–Ω—ñ—à–∏–º–∏ –≤ —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö –≤ —Ä—ñ–∑–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è?
        –ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, –¥–µ—è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –ø–æ–ø–∏—Ç–æ–º –ª–∏—à–µ —É –ø–µ–≤–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è, —â–æ –º–æ–∂–µ –¥–æ–ø–æ–º–æ–≥—Ç–∏ –≤ –ø–ª–∞–Ω—É–≤–∞–Ω–Ω—ñ –∞–∫—Ü—ñ–π —Ç–∞ —Ä–æ–∑–ø—Ä–æ–¥–∞–∂—ñ–≤2. 
    –Ø–∫–∞ –∫–æ—Ä–µ–ª—è—Ü—ñ—è –º—ñ–∂ —Å—É–º–∞—Ä–Ω–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ —ñ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —É —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö?
        –ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, —î —Ñ—ñ–ª—ñ–∞–ª–∏, –¥–µ –≤–∏—Å–æ–∫–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –Ω–µ –∑–∞–≤–∂–¥–∏ –ø—Ä–∏–∑–≤–æ–¥–∏—Ç—å –¥–æ –≤–∏—Å–æ–∫–æ–≥–æ –ø—Ä–∏–±—É—Ç–∫—É, —â–æ –º–æ–∂–µ –≤–∫–∞–∑—É–≤–∞—Ç–∏ –Ω–∞ –ø—Ä–æ–±–ª–µ–º–∏ –∑ —Ü—ñ–Ω–æ—É—Ç–≤–æ—Ä–µ–Ω–Ω—è–º –∞–±–æ —è–∫—ñ—Å—Ç—é —Ç–æ–≤–∞3. 

    –ß–∏ –≤–ø–ª–∏–≤–∞—é—Ç—å —á–∞—Å –¥–æ–±–∏ —Ç–∞ –¥–µ–Ω—å —Ç–∏–∂–Ω—è –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ —É —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö?
        –ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, —Å–µ—Ä–µ–¥–Ω—è –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ –∑–º—ñ–Ω—é—î—Ç—å—Å—è –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —á–∞—Å—É –¥–æ–±–∏ –∞–±–æ –¥–Ω—è —Ç–∏–∂–Ω—è, —â–æ –º–æ–∂–µ –¥–æ–ø–æ–º–æ–≥—Ç–∏ –≤ –æ–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—ó –≥—Ä–∞—Ñ—ñ–∫—ñ–≤ —Ä–æ–±–æ—Ç–∏ —Å–ø—ñ–≤—Ä–æ–±—ñ—Ç–Ω–∏–∫—ñ–≤ —Ç–∞ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ–π.

In [10]:
# 1. –Ø–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —î –Ω–∞–π–ø–æ–ø—É–ª—è—Ä–Ω—ñ—à–∏–º–∏ –≤ —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö –≤ —Ä—ñ–∑–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è? 

df['Day of Week'] = pd.to_datetime(df['Date']).dt.day_name()
category_day_pivot = df.pivot_table(
    index=['Branch', 'Day of Week'],
    columns='Product line',
    values='Invoice ID',
    aggfunc='count',
    fill_value=0
)

print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–∞ –¥–Ω—è–º–∏ —Ç–∏–∂–Ω—è:")
category_day_pivot

–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–∞ –¥–Ω—è–º–∏ —Ç–∏–∂–Ω—è:

Product line        Electronic accessories  Fashion accessories  \
Branch Day of Week
A      Friday                            6                    9
       Monday                           10                    7
       Saturday                          6                    8
       Sunday                            5                    9
       Thursday                         13                    3
       Tuesday                          13                   10
       Wednesday                         7                    5
B      Friday                            4                   13
       Monday                            6                    5
       Saturday                         15                   12
       Sunday                            5                    4
       Thursday                         12                    9
       Tuesday                           6                    7
       Wednesday                         7                   12
C      Friday                            7                    8
       Monday                            7                    6
       Saturday                          6                   15
       Sunday                           10                    7
       Thursday                         11                    9
       Tuesday                          10                    9
       Wednesday                         4                   11

Product line        Food and beverages  Health and beauty  Home and lifestyle  \
Branch Day of Week
A      Friday                        7                  6                  14
       Monday                        6                  9                   9
       Saturday                     12                  4                   8
       Sunday                        9                  6                  14
       Thursday                      7                  9                   7
       Tuesday                       4                  6                   8
       Wednesday                    13                  7                   5
B      Friday                        6                 12                   7
       Monday                        7                  9                   6
       Saturday                      8                  7                  10
       Sunday                        6                  3                   9
       Thursday                      3                  4                   7
       Tuesday                      10                 11                   8
       Wednesday                    10                  7                   3
C      Friday                        6                  8                   3
       Monday                        9                  8                   5
       Saturday                     11                  8                   6
       Sunday                        8                  5                   9
       Thursday                     10                  6                   5
       Tuesday                      12                 12                   6
       Wednesday                    10                  5                  11

Product line        Sports and travel
Branch Day of Week
A      Friday                       8
       Monday                       7
       Saturday                    12
       Sunday                       9
       Thursday                     7
       Tuesday                     10
       Wednesday                    6
B      Friday                       9
       Monday                       6
       Saturday                     8
       Sunday                       8
       Thursday                     9
       Tuesday                     11
       Wednesday                   11
C      Friday                       6
       Monday                       3
       Saturday                     8
       Sunday                       7
       Thursday                     7
       Tuesday                      5
       Wednesday                    9

In [11]:
# 2: –Ø–∫–∞ –∫–æ—Ä–µ–ª—è—Ü—ñ—è –º—ñ–∂ —Å—É–º–∞—Ä–Ω–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ —ñ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —É —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö?  

branch_summary = df.groupby('Branch').agg(
    total_sales=('Total', 'sum'),
    total_invoices=('Invoice ID', 'count')
)
correlation = branch_summary['total_sales'].corr(branch_summary['total_invoices'])
print(f"–ö–æ—Ä–µ–ª—è—Ü—ñ—è –º—ñ–∂ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ —É —Ñ—ñ–ª—ñ–∞–ª–∞—Ö: {correlation:.2f}")

–ö–æ—Ä–µ–ª—è—Ü—ñ—è –º—ñ–∂ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ —É —Ñ—ñ–ª—ñ–∞–ª–∞—Ö: -0.76

In [21]:
# 3: –ß–∏ –≤–ø–ª–∏–≤–∞—é—Ç—å —á–∞—Å –¥–æ–±–∏ —Ç–∞ –¥–µ–Ω—å —Ç–∏–∂–Ω—è –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ —É —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö? 

df['Hour'] = pd.to_datetime(df['Hour']).dt.hour
hourly_sales_pivot = df.pivot_table(
    index=['Branch', 'Day of Week', 'Hour'],
    values='Total',
    aggfunc='mean'
)

print("–°–µ—Ä–µ–¥–Ω—è –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ –∑–∞ —á–∞—Å–æ–º –¥–æ–±–∏ —Ç–∞ –¥–Ω—è–º–∏ —Ç–∏–∂–Ω—è:")
print(hourly_sales_pivot)

–°–µ—Ä–µ–¥–Ω—è –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ –∑–∞ —á–∞—Å–æ–º –¥–æ–±–∏ —Ç–∞ –¥–Ω—è–º–∏ —Ç–∏–∂–Ω—è:
                              Total
Branch Day of Week Hour
A      Friday      0     290.877300
       Monday      0     296.647094
       Saturday    0     335.308260
       Sunday      0     327.054202
       Thursday    0     335.266826
       Tuesday     0     293.239471
       Wednesday   0     308.551779
B      Friday      0     282.701176
       Monday      0     326.530885
       Saturday    0     354.740400
       Sunday      0     297.580800
       Thursday    0     358.605068
       Tuesday     0     355.834698
       Wednesday   0     254.151870
C      Friday      0     393.808303
       Monday      0     287.508237
       Saturday    0     334.647639
       Sunday      0     370.342304
       Thursday    0     294.757313
       Tuesday     0     327.181361
       Wednesday   0     355.116300

–ö—Ä–æ–∫ 3: –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –æ—Ç—Ä–∏–º–∞–Ω–∏—Ö –≤—ñ–¥–ø–æ–≤—ñ–¥–µ–π –¥–ª—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å

1. –ü–æ–ø—É–ª—è—Ä–Ω—ñ—Å—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ –≤ —Ä—ñ–∑–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è:
   - –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è: –†–æ–∑—É–º—ñ–Ω–Ω—è, —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ—Ä–∏—Å—Ç—É—é—Ç—å—Å—è –ø–æ–ø–∏—Ç–æ–º —É –ø–µ–≤–Ω—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è, –¥–æ–∑–≤–æ–ª—è—î –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ —Ä–æ–∑–∫–ª–∞–¥ –∞–∫—Ü—ñ–π —ñ –∑–Ω–∏–∂–æ–∫. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, —è–∫—â–æ –ø–µ–≤–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ–ø—É–ª—è—Ä–Ω—ñ –≤ –∫—ñ–Ω—Ü—ñ —Ç–∏–∂–Ω—è, –º–æ–∂–Ω–∞ –∑–∞–ø—Ä–æ–≤–∞–¥–∏—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó —Å–∞–º–µ –≤ —Ü—ñ –¥–Ω—ñ, —â–æ–± –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –ø—Ä–æ–¥–∞–∂—ñ.

2. –ö–æ—Ä–µ–ª—è—Ü—ñ—è –º—ñ–∂ —Å—É–º–∞—Ä–Ω–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫ —ñ –ø—Ä–∏–±—É—Ç–∫–æ–º:
   - –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è: –ê–Ω–∞–ª—ñ–∑ –∫–æ—Ä–µ–ª—è—Ü—ñ—ó –¥–æ–ø–æ–º–æ–∂–µ –≤–∏–∑–Ω–∞—á–∏—Ç–∏, —á–∏ —î —Ñ—ñ–ª—ñ–∞–ª–∏, –¥–µ –≤–∏—Å–æ–∫–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤ –Ω–µ –∑–∞–≤–∂–¥–∏ –ø—Ä–∏–∑–≤–æ–¥–∏—Ç—å –¥–æ –≤–∏—Å–æ–∫–∏—Ö –ø—Ä–∏–±—É—Ç–∫—ñ–≤. –¶–µ –º–æ–∂–µ —Å–≤—ñ–¥—á–∏—Ç–∏ –ø—Ä–æ –Ω–µ–æ–±—Ö—ñ–¥–Ω—ñ—Å—Ç—å –ø–µ—Ä–µ–≥–ª—è–¥—É —Ü—ñ–Ω–æ–≤–æ—ó –ø–æ–ª—ñ—Ç–∏–∫–∏ –∞–±–æ –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è —è–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ —É —Ç–∞–∫–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö.

3. –í–ø–ª–∏–≤ —á–∞—Å—É –¥–æ–±–∏ —Ç–∞ –¥–Ω—è —Ç–∏–∂–Ω—è –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏:
   - –í–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è: –Ø–∫—â–æ —Å–µ—Ä–µ–¥–Ω—è –≤–∞—Ä—Ç—ñ—Å—Ç—å –ø–æ–∫—É–ø–∫–∏ –∑–º—ñ–Ω—é—î—Ç—å—Å—è –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —á–∞—Å—É –¥–æ–±–∏ –∞–±–æ –¥–Ω—è —Ç–∏–∂–Ω—è, –º–æ–∂–Ω–∞ –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –≥—Ä–∞—Ñ—ñ–∫–∏ —Ä–æ–±–æ—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—É —ñ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ—ó –≤–∞—Ä—Ç–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —É –≥–æ–¥–∏–Ω–∏ –ø—ñ–∫ –º–æ–∂–µ –±—É—Ç–∏ –¥–æ—Å—è–≥–Ω—É—Ç–æ –∑–∞ —Ä–∞—Ö—É–Ω–æ–∫ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –∞–∫—Ü—ñ–π –∞–±–æ –ø–∞–∫–µ—Ç—ñ–≤ —Ç–æ–≤–∞—Ä—ñ–≤.

–¶—ñ –≤–∏—Å–Ω–æ–≤–∫–∏ –¥–æ–∑–≤–æ–ª—è—Ç—å –±—ñ–∑–Ω–µ—Å—É –±—ñ–ª—å—à –µ—Ñ–µ–∫—Ç–∏–≤–Ω–æ —É–ø—Ä–∞–≤–ª—è—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–æ–º, —Ü—ñ–Ω–æ—É—Ç–≤–æ—Ä–µ–Ω–Ω—è–º —ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–∏–º–∏ –∫–∞–º–ø–∞–Ω—ñ—è–º–∏, –∞ —Ç–∞–∫–æ–∂ –ø–æ–∫—Ä–∞—â–∏—Ç–∏ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —É —Ä—ñ–∑–Ω–∏—Ö —Ñ—ñ–ª—ñ–∞–ª–∞—Ö.