#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [2]:
total_profit_per_branch = df.groupby('Branch')['Total'].sum()
max_profit_branch = total_profit_per_branch.idxmax()
max_profit = total_profit_per_branch.max()
print("Сумарний прибуток за кожним філіалом:")
print(total_profit_per_branch)
print(f"\nФіліал з найвищим прибутком: {max_profit_branch} з прибутком {max_profit:.2f}")

Сумарний прибуток за кожним філіалом:
Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

Філіал з найвищим прибутком: C з прибутком 110568.71

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [3]:
total_profit_per_branch = df.groupby('Branch')['Total'].sum()
max_profit_branch = total_profit_per_branch.idxmax()
max_profit = total_profit_per_branch.max()
print(f"Філіал з найвищим прибутком: {max_profit_branch} з прибутком {max_profit:.2f}")
city_of_max_profit_branch = df[df['Branch'] == max_profit_branch]['City'].iloc[0]
print(f"Місто, де знаходиться філіал з найвищим прибутком: {city_of_max_profit_branch}")

print("\nДані для перевірки:")
df[df['Branch'] == max_profit_branch].head()

Філіал з найвищим прибутком: C з прибутком 110568.71
Місто, де знаходиться філіал з найвищим прибутком: Naypyitaw

Дані для перевірки:

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
20,300-71-4605,C,Naypyitaw,Member,Male,Electronic accessories,86.04,5,21.5100,451.7100,2/25/2019,11:24,Ewallet,430.20,4.761905,21.5100,4.8
34,183-56-6882,C,Naypyitaw,Member,Female,Food and beverages,99.42,4,19.8840,417.5640,2/6/2019,10:42,Ewallet,397.68,4.761905,19.8840,7.5

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [5]:
invoices_by_category = df.pivot_table(
    index='Branch',  # Рядки: Філіали
    columns='Product line',  # Стовпці: Категорії товарів
    values='Invoice ID',  # Значення для підрахунку: Номери інвойсів
    aggfunc='count',  # Агрегуюча функція: Підрахунок кількості
    fill_value=0  # Значення для заповнення пропусків
)

print("Зводна таблиця кількості покупок за категоріями товарів у кожній філії:")
invoices_by_category

Зводна таблиця кількості покупок за категоріями товарів у кожній філії:

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [6]:
invoices_by_category = df.pivot_table(
    index='Branch',  # Рядки: Філіали
    columns='Product line',  # Стовпці: Категорії товарів
    values='Invoice ID',  # Значення для підрахунку: Номери інвойсів
    aggfunc='count',  # Агрегуюча функція: Підрахунок кількості
    fill_value=0  # Значення для заповнення пропусків
)
max_invoices_branch = invoices_by_category['Electronic accessories'].idxmax()
max_invoices_count = invoices_by_category['Electronic accessories'].max()
print(f"Філіал з найбільшим числом інвойсів для категорії 'Electronic accessories': {max_invoices_branch}")
print(f"Кількість інвойсів: {max_invoices_count}")

Філіал з найбільшим числом інвойсів для категорії 'Electronic accessories': A
Кількість інвойсів: 60

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Крок 1: Формулювання питань (гіпотез)
1.   Які категорії товарів є найпопулярнішими в різних філіалах в різні дні тижня?
        Гіпотеза: Можливо, деякі категорії товарів користуються попитом лише у певні дні тижня, що може допомогти в плануванні акцій та розпродажів2. 
    Яка кореляція між сумарною кількістю покупок і сумарним прибутком у різних філіалах?
        Гіпотеза: Можливо, є філіали, де висока кількість покупок не завжди призводить до високого прибутку, що може вказувати на проблеми з ціноутворенням або якістю това3. 

    Чи впливають час доби та день тижня на середню вартість покупки у різних філіалах?
        Гіпотеза: Можливо, середня вартість покупки змінюється в залежності від часу доби або дня тижня, що може допомогти в оптимізації графіків роботи співробітників та спеціальних пропозицій.

In [10]:
# 1. Які категорії товарів є найпопулярнішими в різних філіалах в різні дні тижня? 

df['Day of Week'] = pd.to_datetime(df['Date']).dt.day_name()
category_day_pivot = df.pivot_table(
    index=['Branch', 'Day of Week'],
    columns='Product line',
    values='Invoice ID',
    aggfunc='count',
    fill_value=0
)

print("Кількість покупок за категоріями та днями тижня:")
category_day_pivot

Кількість покупок за категоріями та днями тижня:

Product line        Electronic accessories  Fashion accessories  \
Branch Day of Week
A      Friday                            6                    9
       Monday                           10                    7
       Saturday                          6                    8
       Sunday                            5                    9
       Thursday                         13                    3
       Tuesday                          13                   10
       Wednesday                         7                    5
B      Friday                            4                   13
       Monday                            6                    5
       Saturday                         15                   12
       Sunday                            5                    4
       Thursday                         12                    9
       Tuesday                           6                    7
       Wednesday                         7                   12
C      Friday                            7                    8
       Monday                            7                    6
       Saturday                          6                   15
       Sunday                           10                    7
       Thursday                         11                    9
       Tuesday                          10                    9
       Wednesday                         4                   11

Product line        Food and beverages  Health and beauty  Home and lifestyle  \
Branch Day of Week
A      Friday                        7                  6                  14
       Monday                        6                  9                   9
       Saturday                     12                  4                   8
       Sunday                        9                  6                  14
       Thursday                      7                  9                   7
       Tuesday                       4                  6                   8
       Wednesday                    13                  7                   5
B      Friday                        6                 12                   7
       Monday                        7                  9                   6
       Saturday                      8                  7                  10
       Sunday                        6                  3                   9
       Thursday                      3                  4                   7
       Tuesday                      10                 11                   8
       Wednesday                    10                  7                   3
C      Friday                        6                  8                   3
       Monday                        9                  8                   5
       Saturday                     11                  8                   6
       Sunday                        8                  5                   9
       Thursday                     10                  6                   5
       Tuesday                      12                 12                   6
       Wednesday                    10                  5                  11

Product line        Sports and travel
Branch Day of Week
A      Friday                       8
       Monday                       7
       Saturday                    12
       Sunday                       9
       Thursday                     7
       Tuesday                     10
       Wednesday                    6
B      Friday                       9
       Monday                       6
       Saturday                     8
       Sunday                       8
       Thursday                     9
       Tuesday                     11
       Wednesday                   11
C      Friday                       6
       Monday                       3
       Saturday                     8
       Sunday                       7
       Thursday                     7
       Tuesday                      5
       Wednesday                    9

In [11]:
# 2: Яка кореляція між сумарною кількістю покупок і сумарним прибутком у різних філіалах?  

branch_summary = df.groupby('Branch').agg(
    total_sales=('Total', 'sum'),
    total_invoices=('Invoice ID', 'count')
)
correlation = branch_summary['total_sales'].corr(branch_summary['total_invoices'])
print(f"Кореляція між сумарним прибутком і кількістю покупок у філіалах: {correlation:.2f}")

Кореляція між сумарним прибутком і кількістю покупок у філіалах: -0.76

In [21]:
# 3: Чи впливають час доби та день тижня на середню вартість покупки у різних філіалах? 

df['Hour'] = pd.to_datetime(df['Hour']).dt.hour
hourly_sales_pivot = df.pivot_table(
    index=['Branch', 'Day of Week', 'Hour'],
    values='Total',
    aggfunc='mean'
)

print("Середня вартість покупки за часом доби та днями тижня:")
print(hourly_sales_pivot)

Середня вартість покупки за часом доби та днями тижня:
                              Total
Branch Day of Week Hour
A      Friday      0     290.877300
       Monday      0     296.647094
       Saturday    0     335.308260
       Sunday      0     327.054202
       Thursday    0     335.266826
       Tuesday     0     293.239471
       Wednesday   0     308.551779
B      Friday      0     282.701176
       Monday      0     326.530885
       Saturday    0     354.740400
       Sunday      0     297.580800
       Thursday    0     358.605068
       Tuesday     0     355.834698
       Wednesday   0     254.151870
C      Friday      0     393.808303
       Monday      0     287.508237
       Saturday    0     334.647639
       Sunday      0     370.342304
       Thursday    0     294.757313
       Tuesday     0     327.181361
       Wednesday   0     355.116300

Крок 3: Використання отриманих відповідей для бізнес рішень

1. Популярність категорій товарів в різні дні тижня:
   - Використання: Розуміння, які категорії товарів користуються попитом у певні дні тижня, дозволяє оптимізувати розклад акцій і знижок. Наприклад, якщо певні категорії товарів популярні в кінці тижня, можна запровадити спеціальні пропозиції саме в ці дні, щоб підвищити продажі.

2. Кореляція між сумарною кількістю покупок і прибутком:
   - Використання: Аналіз кореляції допоможе визначити, чи є філіали, де високий обсяг продажів не завжди призводить до високих прибутків. Це може свідчити про необхідність перегляду цінової політики або покращення якості товарів у таких філіалах.

3. Вплив часу доби та дня тижня на середню вартість покупки:
   - Використання: Якщо середня вартість покупки змінюється в залежності від часу доби або дня тижня, можна оптимізувати графіки роботи персоналу і спеціальні пропозиції. Наприклад, підвищення середньої вартості покупок у години пік може бути досягнуто за рахунок спеціальних акцій або пакетів товарів.

Ці висновки дозволять бізнесу більш ефективно управляти асортиментом, ціноутворенням і маркетинговими кампаніями, а також покращити обслуговування клієнтів у різних філіалах.